@font-face {
  font-family: 'Commissioner';
  src: url('../fonts/Commissioner-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../fonts/Commissioner-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}