@import "custom.scss";
@import "variables.scss";
@import "fonts.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

body {
  font-family: "Commissioner", sans-serif;
  .container {
    max-width: 1140px;

    nav {
      .input-group-text {
        padding: 11px 0 13px 1rem;
        background: $light-gray;
      }
    }

    .navbar-nav {
      flex-direction: row;
    }
    .form-control {
      height: 40px !important;
    }
  }

  .dropdown {
    .btn {
      background: transparent;
      border: none;
    }
  }

  .nav-item {
    .active {
      color: var(--bs-navbar-active-color);
      font-weight: 700;
      position: relative;
    }
    .nav-link.active::after {
      content: "";
      display: block;
      position: absolute;
      border-bottom: 2px solid $orange;
      top: calc(100% + 22px);
      width: 100%;
    }
  }

  .language::after {
    content: url("src/assets/arrow.svg");
    border: none;
    margin: 0;
    width: 24px;
  }
  .language.show::after {
    transition: transform 0.5s ease;
    transform: rotate(180deg) translate(0, 6px);
  }
  .animation,
  .text-animation {
    animation-fill-mode: both;
    opacity: 0;
    animation-name: fade-in;
  }
  .animation {
    animation-duration: 5s;
  }

  .text-animation {
    animation-duration: 0.3s;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .btn {
    &-primary {
      --#{$prefix}btn-active-color: #{white};
    }

    &-primary,
    &-primary:hover {
      color: $white;
    }

    &-lg {
      padding: 7px 0 9px 15px;
    }
    &-md,
    &-sm,
    &-dark {
      padding: 7px 16px 9px;
    }

    &-outline-secondary {
      padding: 5px 16px 7px;
    }

    &-sm {
      color: $dark-color;
    }

    &-link {
      border: none;
    }

    &-outline-secondary {
      border-width: 2px;
    }
  }
}
